<%= form_for(@raiting) do |f| %>
  <% if @raiting.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@raiting.errors.count, "error") %> prohibited this raiting from being saved:</h2>

      <ul>
      <% @raiting.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :critera_id %><br>
    <%= f.text_field :critera_id %>
  </div>
  <div class="field">
    <%= f.label :text %><br>
    <%= f.text_field :text %>
  </div>
  <div class="field">
    <%= f.label :position %><br>
    <%= f.number_field :position %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
